@font-face {
  font-family: "HurmeGeometricSans3-Bold";
  src: local("HurmeGeometricSans3-Bold"), url("./static/fonts/HurmeGeometricSans3-Bold.woff2") format("truetype");
}
@font-face {
  font-family: "HurmeGeometricSans3-Regular";
  src: local("HurmeGeometricSans3-Regular"), url("./static/fonts/HurmeGeometricSans3-Regular.woff2") format("truetype");
}
@font-face {
  font-family: "HurmeGeometricSans3-Black";
  src: local("HurmeGeometricSans3-Black"), url("./static/fonts/HurmeGeometricSans3-Black.woff2") format("truetype");
}
@font-face {
  font-family: "HurmeGeometricSans3-Light";
  src: local("HurmeGeometricSans3-Light"), url("./static/fonts/HurmeGeometricSans3-Light.woff2") format("truetype");
}
@font-face {
  font-family: "Gazpacho-Bold";
  src: local("Gazpacho-Bold"), url("./static/fonts/Gazpacho-Bold.woff2") format("truetype");
}
@font-face {
  font-family: "Gazpacho-Regular";
  src: local("Gazpacho-Regular"), url("./static/fonts/Gazpacho-Regular.woff2") format("truetype");
}
#es-rc-content.es-rc {
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background: #e8e2d4;
}
#es-rc-content.es-rc .es-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
#es-rc-content.es-rc html,
#es-rc-content.es-rc body {
  margin: 0;
  padding: 0;
}
#es-rc-content.es-rc * {
  box-sizing: border-box;
}
#es-rc-content.es-rc p {
  margin: 0;
}
#es-rc-content.es-rc h2 {
  margin: 0;
}
#es-rc-content.es-rc .es-kv {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
#es-rc-content.es-rc .es-kv__logo {
  position: relative;
  padding: 30px 15px;
  max-width: 90%;
  margin: 0 auto;
}
#es-rc-content.es-rc .es-kv__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
}
#es-rc-content.es-rc .es-kv__title--small {
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
#es-rc-content.es-rc .es-kv__subtitle {
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
}
#es-rc-content.es-rc .es-kv__packshot {
  position: relative;
}
#es-rc-content.es-rc .es-kv__packshot--photo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
#es-rc-content.es-rc .es-kv__img {
  max-width: 60%;
  display: block;
  margin: 0 auto;
}
#es-rc-content.es-rc .es-kv__text {
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 10px;
  font-size: 16px;
}
#es-rc-content.es-rc .es-set {
  background-color: #e8e3d1;
}
#es-rc-content.es-rc .es-set__title {
  max-width: 90%;
  margin: 0 auto;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
#es-rc-content.es-rc .es-set__title--gazpacho {
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
#es-rc-content.es-rc .es-set__subtitle {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 90%;
  text-align: center;
  font-size: 16px;
}
#es-rc-content.es-rc .es-set__group {
  padding: 30px 15px;
  background-color: #000;
  color: #eae6d6;
}
#es-rc-content.es-rc .es-set__group-item-title {
  font-family: "Gazpacho-Regular", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 18px;
}
#es-rc-content.es-rc .es-set__group-item-description {
  font-family: "Gazpacho-Regular", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
#es-rc-content.es-rc .es-set__group-img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc-content.es-rc .es-set__group-img--mobile {
  max-width: 50%;
}
#es-rc-content.es-rc .es-set__group-img--desktop {
  display: none;
}
#es-rc-content.es-rc .es-revolution {
  margin-top: -100px;
  padding-top: 100px;
  background: url(./static/img/revolution-bg.png) no-repeat center -100px;
}
#es-rc-content.es-rc .es-revolution__title {
  font-size: 26px;
}
#es-rc-content.es-rc .es-revolution__subtitle {
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#es-rc-content.es-rc .es-revolution__packshot {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-width: 50%;
  padding-top: 30px;
}
#es-rc-content.es-rc .es-revolution__container {
  background-color: #ded1bb;
}
#es-rc-content.es-rc .es-revolution__right {
  padding-top: 20px;
  margin-top: -20px;
  padding-left: 15px;
  padding-right: 15px;
}
#es-rc-content.es-rc .es-revolution__right-description {
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 30px;
}
#es-rc-content.es-rc .es-revolution__right-description--bold {
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
}
#es-rc-content.es-rc .es-info {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}
#es-rc-content.es-rc .es-info__title {
  position: relative;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  color: #000000;
  padding: 25px;
  text-align: center;
  font-size: 26px;
}
#es-rc-content.es-rc .es-info__title--large {
  display: block;
  text-align: right;
  font-size: 32px;
}
#es-rc-content.es-rc .es-info__text {
  width: 90%;
  margin: 0;
  padding: 0;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-weight: 500;
  color: #000000;
  margin: 0 auto;
}
#es-rc-content.es-rc .es-info__text b {
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
}
#es-rc-content.es-rc .es-possibilities {
  margin: 30px 0 0;
  padding-top: 75px;
}
#es-rc-content.es-rc .es-possibilities__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
#es-rc-content.es-rc .es-possibilities__description--centered {
  text-align: center;
}
#es-rc-content.es-rc .es-possibilities__description-title {
  padding-top: 30px;
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
}
#es-rc-content.es-rc .es-possibilities__description-bold {
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  font-weight: bold;
}
#es-rc-content.es-rc .es-possibilities__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 700;
}
#es-rc-content.es-rc .es-possibilities__title--first {
  margin-top: -30px;
}
#es-rc-content.es-rc .es-possibilities__title--second {
  position: absolute;
  top: 44%;
  left: -10px;
  color: #e8e2d4;
}
#es-rc-content.es-rc .es-possibilities__title-container {
  top: -75px;
  position: relative;
}
#es-rc-content.es-rc .es-possibilities__title-group {
  position: relative;
  max-width: 72%;
  min-width: 50%;
}
#es-rc-content.es-rc .es-possibilities__subtitle {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-right: 10px;
  font-size: 20px;
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  text-align: right;
}
#es-rc-content.es-rc .es-possibilities__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: -103px;
}
#es-rc-content.es-rc .es-possibilities__text {
  padding-top: 20px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
}
#es-rc-content.es-rc .es-possibilities__packshot {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-width: 50%;
}
#es-rc-content.es-rc .es-photo__img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  padding: 15px 0px;
  padding-bottom: 30px;
}
#es-rc-content.es-rc .es-photo__img {
  margin-left: -1%;
}
#es-rc-content.es-rc .es-photo__img--syrups {
  margin: 0 auto;
}
#es-rc-content.es-rc .es-triple__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  padding: 15px 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}
#es-rc-content.es-rc .es-triple__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
  font-family: "HurmeGeometricSans3-Light", sans-serif;
  text-align: center;
  padding: 0 15px 30px;
}
#es-rc-content.es-rc .es-triple__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#es-rc-content.es-rc .es-triple__mobile-container {
  position: relative;
}
#es-rc-content.es-rc .es-triple__single {
  height: 100%;
  position: relative;
}
#es-rc-content.es-rc .es-triple__desc {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25px;
  left: 0;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}
#es-rc-content.es-rc .es-triple__desc--small {
  position: absolute;
  top: 97%;
  left: 10%;
  font-size: 10px;
  width: 120%;
  text-align: right;
}
#es-rc-content.es-rc .es-triple__desc--first {
  top: 20%;
  left: 24%;
}
#es-rc-content.es-rc .es-triple__desc--second {
  top: 32%;
  left: 41%;
}
#es-rc-content.es-rc .es-triple__desc--third {
  top: 21%;
  left: 16%;
}
#es-rc-content.es-rc .es-triple__desc-mobile--first, #es-rc-content.es-rc .es-triple__desc-mobile--second, #es-rc-content.es-rc .es-triple__desc-mobile--third {
  position: absolute;
  top: 25px;
  left: 0;
  font-family: "HurmeGeometricSans3-Black", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
}
#es-rc-content.es-rc .es-triple__desc-mobile--first {
  top: 7%;
  left: 10%;
}
#es-rc-content.es-rc .es-triple__desc-mobile--second {
  top: 39%;
  left: 37%;
}
#es-rc-content.es-rc .es-triple__desc-mobile--third {
  top: 57%;
  left: 2%;
}
#es-rc-content.es-rc .es-triple__desktop-container {
  display: none;
}
#es-rc-content.es-rc .es-triple__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  min-width: 250px;
}
#es-rc-content.es-rc .es-recipes__day-night-title {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
#es-rc-content.es-rc .es-recipes__day-night-description {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#es-rc-content.es-rc .es-recipes__day-night {
  position: relative;
  margin-bottom: 50px;
}
#es-rc-content.es-rc .es-recipes__day-night--second {
  margin-bottom: 100px;
}
#es-rc-content.es-rc .es-recipes__day-night-label {
  position: absolute;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  font-size: 60px;
}
#es-rc-content.es-rc .es-recipes__day-night-label--first {
  color: #ffffff;
  top: 12%;
  left: 40%;
}
#es-rc-content.es-rc .es-recipes__day-night-label--second {
  color: #000000;
  top: -6%;
  left: 0%;
}
#es-rc-content.es-rc .es-recipes__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc-content.es-rc .es-recipes__img--night-desktop {
  display: none;
}
#es-rc-content.es-rc .es-recipes__day-night-recipe-content-title {
  margin-bottom: 20px;
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#es-rc-content.es-rc .es-recipes__day-night-recipe-content-title--small {
  margin-bottom: 20px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#es-rc-content.es-rc .es-recipes__day-night-recipe-content {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  font-size: 13px;
}
#es-rc-content.es-rc .es-recipes__day-night-recipe-content-ingredients-list {
  padding-left: 20px;
  max-width: 90%;
}
#es-rc-content.es-rc .es-recipes__day-night-recipe-content-ingredients-list li {
  margin-bottom: 10px;
}
#es-rc-content.es-rc .es-video {
  margin: 0 auto 34px;
  width: 95%;
  position: relative;
}
#es-rc-content.es-rc .es-video__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
#es-rc-content.es-rc .es-video__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Gazpacho-Regular", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
#es-rc-content.es-rc .es-video__subtitle-second {
  font-family: "Gazpacho-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
}
#es-rc-content.es-rc .es-video__text {
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
}
#es-rc-content.es-rc .es-video__container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-bottom: 46.25%;
  height: 0;
}
#es-rc-content.es-rc .es-video__iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  max-height: 540px;
}
#es-rc-content.es-rc .es-video__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
#es-rc-content.es-rc .es-photo__text {
  font-size: 23px;
}
@media screen and (min-width: 500px) {
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content {
    font-size: 16px;
  }
  #es-rc-content.es-rc .es-recipes__day-night {
    margin-bottom: 100px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-group {
    max-width: 395px;
    margin: 0 auto;
    margin-left: 10%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--first {
    top: 10%;
    left: 44%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--second {
    top: 3%;
    left: 0%;
  }
  #es-rc-content.es-rc .es-triple__wrapper {
    flex-wrap: nowrap;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--first, #es-rc-content.es-rc .es-triple__desc-mobile--second, #es-rc-content.es-rc .es-triple__desc-mobile--third {
    font-size: 70px;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--first {
    top: 12%;
    left: 23%;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--second {
    top: 41%;
    left: 37%;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--third {
    top: 61%;
    left: 16%;
  }
  #es-rc-content.es-rc .es-video {
    margin-top: -50px;
  }
  #es-rc-content.es-rc .es-video__img {
    max-width: 300px;
  }
  #es-rc-content.es-rc .es-video__text {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 600px) {
  #es-rc-content.es-rc .es-title {
    font-size: 46px;
  }
  #es-rc-content.es-rc .es-video__subtitle-second {
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-photo__text {
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-recipes {
    display: flex;
  }
  #es-rc-content.es-rc .es-recipes__day-night {
    max-width: 50%;
  }
  #es-rc-content.es-rc .es-recipes__day-night--second {
    padding-top: 190px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--second {
    top: 10%;
    left: 0%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content--dark {
    top: 47%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content {
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    font-size: 13px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--first {
    top: 16%;
  }
  #es-rc-content.es-rc .es-possibilities {
    margin: 30px 0 0;
  }
  #es-rc-content.es-rc .es-possibilities__title-group {
    max-width: 60%;
  }
  #es-rc-content.es-rc .es-possibilities__title {
    font-size: 25px;
  }
  #es-rc-content.es-rc .es-possibilities__left, #es-rc-content.es-rc .es-possibilities__right {
    min-width: 50%;
  }
  #es-rc-content.es-rc .es-possibilities__right {
    min-width: 60%;
  }
  #es-rc-content.es-rc .es-possibilities__content {
    padding: 30px;
  }
  #es-rc-content.es-rc .es-possibilities__title {
    font-size: 25px;
  }
  #es-rc-content.es-rc .es-possibilities__title--first, #es-rc-content.es-rc .es-possibilities__title--second {
    font-size: 35px;
  }
  #es-rc-content.es-rc .es-possibilities__title--second {
    left: 0;
  }
  #es-rc-content.es-rc .es-info__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #es-rc-content.es-rc .es-info__left {
    width: 40%;
  }
  #es-rc-content.es-rc .es-info__right {
    width: 60%;
  }
}
@media screen and (min-width: 700px) {
  #es-rc-content.es-rc .es-triple__desc-mobile--first, #es-rc-content.es-rc .es-triple__desc-mobile--second, #es-rc-content.es-rc .es-triple__desc-mobile--third {
    font-size: 90px;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--first {
    top: 12%;
    left: 26%;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--second {
    top: 43%;
    left: 40%;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--third {
    top: 63%;
    left: 18%;
  }
}
@media screen and (min-width: 768px) {
  #es-rc-content.es-rc .es-kv {
    background: url("./static/img/kv-bg.png") no-repeat center center;
    background-size: cover;
    min-height: 900px;
    padding-bottom: 300px;
  }
  #es-rc-content.es-rc .es-kv__logo {
    margin: 0;
  }
  #es-rc-content.es-rc .es-kv__img {
    margin: 0;
  }
  #es-rc-content.es-rc .es-kv__packshot {
    display: none;
  }
  #es-rc-content.es-rc .es-kv__title {
    font-size: 35px;
  }
  #es-rc-content.es-rc .es-kv__title--left {
    display: block;
    text-align: left;
    max-width: 70%;
  }
  #es-rc-content.es-rc .es-kv__title--small {
    text-align: left;
  }
  #es-rc-content.es-rc .es-kv__packshot {
    position: absolute;
    right: 0;
    top: 30px;
    width: 350px;
  }
  #es-rc-content.es-rc .es-kv__packshot--photo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  #es-rc-content.es-rc .es-kv__title-group {
    position: absolute;
    max-width: 455px;
    left: 10%;
    top: 13%;
    margin: 0 auto;
    text-align: center;
  }
  #es-rc-content.es-rc .es-kv__text {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 67%;
    margin: 0;
    padding-left: 10%;
    text-align: left;
    font-size: 17px;
  }
  #es-rc-content.es-rc .es-triple__title {
    font-size: 50px;
  }
  #es-rc-content.es-rc .es-info__titleBig {
    font-size: 50px;
  }
  #es-rc-content.es-rc .es-info__title--large {
    font-size: 42px;
    margin-right: 50px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content--first {
    margin-top: -105px;
  }
  #es-rc-content.es-rc .es-recipes__day-night--first {
    margin-top: -100px;
  }
  #es-rc-content.es-rc .es-recipes__day-night--second {
    padding-top: 0px;
    margin-top: -32px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content-title {
    margin-bottom: 20px;
    font-family: "Gazpacho-Bold", sans-serif;
    font-weight: 700;
    font-size: 35px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content-title--small {
    font-size: 16px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label {
    font-size: 80px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--first {
    top: 10%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--second {
    top: -3%;
    left: 0%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content {
    font-size: 18px;
  }
}
@media screen and (min-width: 825px) {
  #es-rc-content.es-rc .es-recipes__img--night-desktop {
    display: block;
  }
  #es-rc-content.es-rc .es-recipes__img--night-mobile {
    display: none;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content--first {
    margin-top: -105px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content--dark {
    position: absolute;
    top: 38%;
    left: 0;
    z-index: 1;
    color: #ffffff;
  }
}
@media screen and (min-width: 998px) {
  #es-rc-content.es-rc .es-kv__title {
    padding: 15px;
    padding-top: 0;
    font-size: 40px;
  }
  #es-rc-content.es-rc .es-kv__title--small {
    font-size: 18px;
  }
  #es-rc-content.es-rc .es-kv__img {
    max-width: 59%;
  }
  #es-rc-content.es-rc .es-kv__title-group {
    left: 10%;
    top: 8%;
  }
  #es-rc-content.es-rc .es-kv__packshot {
    position: absolute;
    right: 0;
    top: 30px;
    width: 450px;
  }
  #es-rc-content.es-rc .es-kv__packshot--photo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  #es-rc-content.es-rc .es-possibilities {
    margin-top: -100px;
  }
  #es-rc-content.es-rc .es-possibilities__title-container {
    top: 43px;
  }
  #es-rc-content.es-rc .es-possibilities__right {
    margin-top: 100px;
  }
  #es-rc-content.es-rc .es-possibilities__title {
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-possibilities__title--first, #es-rc-content.es-rc .es-possibilities__title--second {
    font-size: 45px;
  }
  #es-rc-content.es-rc .es-possibilities__title--second {
    top: 44%;
  }
  #es-rc-content.es-rc .es-possibilities .es-possibilities__content {
    margin-top: -50px;
  }
  #es-rc-content.es-rc .es-possibilities .es-possibilities__packshot {
    width: 274px;
    margin-top: -120px;
  }
  #es-rc-content.es-rc .es-possibilities .es-possibilities__text {
    font-size: 22px;
    width: 90%;
    line-height: 1.25;
  }
  #es-rc-content.es-rc .es-possibilities__img {
    margin-top: -150px;
  }
  #es-rc-content.es-rc .es-info__title {
    line-height: 1;
  }
  #es-rc-content.es-rc .es-info__right {
    align-self: flex-start;
    padding-top: 20px;
  }
  #es-rc-content.es-rc .es-info__text {
    width: 76%;
    margin-left: 0;
    font-size: 21px;
  }
  #es-rc-content.es-rc .es-video__text {
    font-size: 21px;
    max-width: 80%;
  }
  #es-rc-content.es-rc .es-video__text--second {
    max-width: 75%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-description {
    font-size: 22px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-group {
    max-width: 455px;
    margin-left: 22%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--first {
    top: 11.4%;
    left: 40%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--second {
    top: -2.1%;
    left: 3.4%;
  }
  #es-rc-content.es-rc .es-video__subtitle-second {
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-photo__text {
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-photo__img {
    max-width: 100%;
    height: 600px;
  }
  #es-rc-content.es-rc .es-photo__img--syrups {
    margin: 0 auto;
    height: auto;
  }
  #es-rc-content.es-rc .es-triple {
    margin-top: -100px;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--first, #es-rc-content.es-rc .es-triple__desc-mobile--second, #es-rc-content.es-rc .es-triple__desc-mobile--third {
    font-size: 160px;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--first {
    top: 14%;
    left: 22%;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--second {
    top: 44%;
    left: 42%;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--third {
    top: 64%;
    left: 13%;
  }
}
@media screen and (min-width: 1200px) {
  #es-rc-content.es-rc .es-kv {
    height: 100%;
    min-height: 1000px;
  }
  #es-rc-content.es-rc .es-kv__title-group {
    max-width: 502px;
  }
  #es-rc-content.es-rc .es-kv__title {
    font-size: 56px;
  }
  #es-rc-content.es-rc .es-kv__subtitle {
    font-size: 22px;
  }
  #es-rc-content.es-rc .es-kv__text {
    padding-bottom: 100px;
    font-size: 20px;
    width: 53%;
    font-size: 21px;
    line-height: 1.35;
  }
  #es-rc-content.es-rc .es-title {
    font-size: 56px;
  }
  #es-rc-content.es-rc .es-set__title--gazpacho {
    font-size: 40px;
  }
  #es-rc-content.es-rc .es-video__subtitle-second {
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-photo__text {
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-video__subtitle {
    font-size: 30px;
  }
  #es-rc-content.es-rc .es-info__title {
    font-size: 46px;
  }
  #es-rc-content.es-rc .es-info__title--large {
    font-size: 57px;
    margin-right: -27px;
  }
  #es-rc-content.es-rc .es-possibilities__title {
    font-size: 65px;
  }
  #es-rc-content.es-rc .es-possibilities__title--first {
    margin-top: -10px;
  }
  #es-rc-content.es-rc .es-possibilities__title--small {
    max-width: 700px;
    font-size: 36px;
  }
  #es-rc-content.es-rc .es-possibilities__subtitle {
    margin-top: 100px;
    margin-right: 102px;
    font-size: 45px;
  }
  #es-rc-content.es-rc .es-possibilities__title-container {
    top: 50px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content--dark {
    position: absolute;
    top: 41%;
    font-size: 24px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label {
    font-size: 132px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--first {
    top: 7.4%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-label--second {
    top: -2.1%;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content-title {
    font-size: 48px;
  }
  #es-rc-content.es-rc .es-recipes__day-night-recipe-content-title--small {
    font-size: 18px;
  }
  #es-rc-content.es-rc .es-triple__desc--small {
    font-size: 20px;
  }
  #es-rc-content.es-rc .es-triple__desc-mobile--first, #es-rc-content.es-rc .es-triple__desc-mobile--second, #es-rc-content.es-rc .es-triple__desc-mobile--third {
    font-size: 170px;
  }
}
@media screen and (min-width: 1400px) {
  #es-rc-content.es-rc .es-video {
    margin-top: -120px;
  }
  #es-rc-content.es-rc .es-set__title {
    max-width: 72%;
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */